<div class="container">
  NOTHING TO SEE HERE!
</div>

<div id="templates" style="display:none">
 <div id="quizzes">
  {{#each quizzes}}
      <a href="/quizzes/{{quiz_id}}/questions/next.json">{{name}}</a>
  {{/each}}
  </div>

<div id="question">
  <h2>{{question}}</h2>
  <ul>
    {{#each choices}}
    <li>{{this.choice}}</li>
    {{/each}}
  </ul>
</div>
</div>
