<div class="container">
  NOTHING TO SEE HERE!
</div>

<div id="templates" style="display:none">
 <div id="quizzes">
  {{#each quizzes}}
      <h1>{{name}}</h1>
      <p>{{quiz_id}}</p>
  {{/each}}
  </div>
</div>

